<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="jumbotron bg-dark">
        <h2 class="text-primary"><center><b>INPUT FORM</b></center></h2>
        </div>
    <div class="container">
	
        <br>
    <form method="POST" action="/result">
    <div class="row">
        <div class="col-sm-6">
            Name
        </div>
        <div class="col-sm-6">
            <input name="inp1" class="form-control" type="text"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            Reg.no
        </div>
        <div class="col-sm-6">
                <input name="inp2" class="form-control" type="text" />
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-sm-6">
                Sem
            </div>
            <div class="col-sm-6">
                    <input name="inp3" class="form-control" type="text" />
            </div>
        </div>
        <br>
        <div class="row">
                <div class="col-sm-6">
                    College
                </div>
                <div class="col-sm-6">
                        <input name="inp4" class="form-control" type="text" />
                </div>
            </div>
            <br>
            <div class="row">
                    <div class="col-sm-6">
                        Sub1name
                    </div>
                    <div class="col-sm-6">
                            <input name="inp5" class="form-control" type="text" />
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-sm-6">
                            Sub1mark
                        </div>
                        <div class="col-sm-6">
                                <input name="inp6" class="form-control" type="number" />
                        </div>
                    </div>
                    <br>
                    <div class="row">
                            <div class="col-sm-6">
                                Sub1mark_totalmark
                            </div>
                            <div class="col-sm-6">
                                    <input name="inp7" class="form-control"  type="number"/>
                            </div>
                        </div>
                        <br>
                    <div class="row">
                            <div class="col-sm-6">
                                Sub2name
                            </div>
                            <div class="col-sm-6">
                                    <input name="inp8" class="form-control"  type="text"/>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                                <div class="col-sm-6">
                                    Sub2mark
                                </div>
                                <div class="col-sm-6">
                                        <input name="inp9" class="form-control"  type="number"/>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                    <div class="col-sm-6">
                                        Sub2mark_totalmark
                                    </div>
                                    <div class="col-sm-6">
                                            <input name="inp10" class="form-control" type="number"/>
                                    </div>
                                </div>
                                <br>
                            <div class="row">
                                    <div class="col-sm-6">
                                        Sub3name
                                    </div>
                                    <div class="col-sm-6">
                                            <input name="inp11" class="form-control"  type="text"/>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                        <div class="col-sm-6">
                                            Sub3mark
                                        </div>
                                        <div class="col-sm-6">
                                                <input name="inp12" class="form-control"  type="number"/>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                Sub3mark_totalmark
                                            </div>
                                            <div class="col-sm-6">
                                                    <input name="inp13" class="form-control"  type="number"/>
                                            </div>
                                        </div>
                                        <br>
                                    <div class="row">
                                            <div class="col-sm-6">
                                                Sub4name
                                            </div>
                                            <div class="col-sm-6">
                                                    <input name="inp14" class="form-control"  type="text"/>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                                <div class="col-sm-6">
                                                    Sub4mark
                                                </div>
                                                <div class="col-sm-6">
                                                        <input name="inp15" class="form-control"  type="number"/>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                    <div class="col-sm-6">
                                                        Sub4mark_totalmark
                                                    </div>
                                                    <div class="col-sm-6">
                                                            <input name="inp16" class="form-control"  type="number"/>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                        <div class="col-sm-4">
                                                           
                                                        </div>
                                                        <div class="col-sm-4">
                                                               <button class="btn btn-primary" type="submit">
                                                                    Generate marklist
                                                               </button>
                                                        </div>
                                                        <div class="col-sm-4">
                                                               
                                                        </div>
                                                    </div>
                                                    <br>
                                                </form>
                                                    <footer><div class="jumbotron bg-light"></div></footer>
    </div>
</body>
</html>